body{
  background-color: rgb(108,117,125);
}


.sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(33, 37, 41);
    overflow-x: hidden;
    padding-top: 50px;
    transition: .5s;
    
  }
  
  .sidenav a {
    padding: 4% 4% 4% 10%;
    margin-right: 10%;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: .5s;
  }
  
  .sidenav a:hover {
    transform: scale(1.1);    
}

.sidenav .closebtn {
    position: absolute;
    margin-right: 0px;
    top: -25px;
    right: -5px;
    font-size: 36px;
    margin-left: 50px;
   }

#main {
    transition: margin-left .5s;
  }


  @media screen and (max-height: 800px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 12px;}
  }

  .cont {
    position: relative;
  }
  .cont .content {
    position: absolute; /* Position the background text */
    right: 51.75%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    width: auto; /* Full width */
    padding: 20px; /* Some padding */
  }
  .cont .content2 {
    position: absolute; /* Position the background text */
    right: 2.3%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    width: auto; /* Full width */
    padding: 20px; /* Some padding */
  }
  .cont .content3 {
    position: absolute; /* Position the background text */
    right: 2.3%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Black background with 0.5 opacity */
    width: auto; /* Full width */
    padding: 20px; /* Some padding */
  }
  .cont .container{
    position: absolute;
    top: 0;
    left: 55%;
  }
  .cont .container a{
    color: white;
  }